<h2>Please enter player names</h2>
<form action='/names' method='post'>
<input type='text', name='first_player', placeholder='First player'>
<input type='text', name='second_player', placeholder='Second player'>
<input type='submit', value='Submit'>
</form>